.ST-text {
  font-size: 2rem;
}

.ticket .ticket-table {
  width: 100%;
  color: #282b3e;
  border-spacing: 0 15px;
  font-size: 1rem;
}
.ticket .ticket-table .th-row th {
  text-align: left;
  background: #282b3e;
  color: #fff;
  padding: 20px;
}
.ST-td-btn {
  border: 2px solid #282b3e;
  background: none;
  padding: 0px 5px;
  border-radius: 10px;
  color: #282b3e;
  font-weight: 700;
}
.ST-btn-done {
  border: 2px solid #4ee911;
  background: none;
  padding: 0px 5px;
  border-radius: 10px;
  color: #4ee911;
  font-weight: 700;
}
.td-id {
  color: #33b7ff;
}
.td-time-align {
  text-align: center;
}
.td-id a {
  color: #33b7ff;
  text-decoration: none;
}
.support-ticket {
  margin-top: 60px;
}
