.support-sec {
  background: #fff;
}
.support-details {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}
.support-details .CITMA-link {
  text-decoration: none;
  color: #33b7ff;
  vertical-align: -webkit-baseline-middle;
}
.support-details .ticket-btn {
  background: #33b7ff;
  border: 1px solid #33b7ff;
  padding: 10px;
  color: #fff;
  margin-right: 5px;
}
.support-text {
  font-size: 2rem;
}

/*for checkbox*/
input[type="checkbox"] + label:before {
  content: "\2714";
  border: 0.1em solid grey;
  border-radius: 0.1em;
  width: 1em;
  height: 1em;
  margin-right: 0.2em;
  color: transparent;
}

input[type="checkbox"]:checked + label:before {
  background-color: #fff;
  border-color: grey;
  color: #33b7ff;
}
.CB-hide {
  display: none;
}
