.ticket-detail {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.ticket-text {
  width: 80%;
}
.ticket-status {
  display: flex;
  flex-direction: column;
  width: 85%;
  float: right;
}
.checkbox-hide {
  display: none;
}
.label-text {
  padding: 0px !important;
}
