.view-ticket-btn {
  background: #33b7ff;
  border: 1px solid #33b7ff;
  padding: 10px;
  color: #fff;
  margin-right: 5px;
}
.view-ticket-CBsec {
  display: flex;
  flex-direction: column;
  width: 15%;
  float: right;
}

.VB-hide {
  display: none;
}
.checkbox-label {
  padding-top: 20px;
}
