.comment-heading {
  font-size: 40px;
  font-weight: 600;
}
.comment-txtarea {
  width: 100%;
}
.comment-btn button {
  background-color: #000;
  border: none;
  color: #fff;
  padding: 15px 50px;
  font-size: 20px;
  float: right;
  margin-top: 20px;
  border-radius: 30px;
}
.comment-sec {
  padding: 0px 50px;
}
.comment-attachment p {
  font-size: 20px;
  margin-top: 10px;
}
.comment-label-txt {
  font-size: 20px;
  margin-top: 10px;
}
