.summary-text {
  font-size: 40px;
  font-weight: 600;
}
.summary {
  display: grid;
  grid-template-columns: 55rem auto;
  margin-top: 60px;
}
.view-usage-btn {
  background: #000;
  border: 1px solid #000;
  padding: 15px;
  color: #fff;
  margin-left: 50px;
  width: 35%;
  float: right;
  border-radius: 30px;
  font-size: 20px;
}
.S-table {
  border-collapse: collapse;
  width: 80%;
  font-size: 20px;
}

tr {
  border-bottom: 1px solid #ddd;
}
.S-table td {
  padding: 15px;
}
