.ST-text {
  font-size: 40px;
  font-weight: 600;
}

.ticket .ticket-table {
  width: 100%;
  color: #282b3e;
  border-spacing: 0 15px;
  font-size: 20px;
}
.ticket .ticket-table .th-row th {
  background: #000;
  color: #fff;
  padding: 25px;
}
.ST-td-btn {
  border: 3px solid #000;
  background: none;
  padding: 0px 5px;
  border-radius: 15px;
  color: #000000;
  font-weight: 600;
}
.ST-btn-done {
  border: 3px solid #f9cb4b;
  background: none;
  padding: 0px 5px;
  border-radius: 15px;
  color: #f9cb4b;
  font-weight: 600;
}
.td-id {
  color: #f9cb4b;
}
.td-time-align {
  text-align: center;
}
.td-id a {
  color: #f9cb4b;
  text-decoration: none;
}
.support-ticket {
  margin-top: 60px;
}
