.view-ticket-btn {
  font-size: 20px;
  background: #000;
  border: 1px solid #000;
  padding: 10px;
  color: #fff;
  margin-right: 5px;
  border-radius: 30px;
}
.view-ticket-CBsec {
  display: flex;
  flex-direction: column;
  width: 15%;
  float: right;
}

.VB-hide {
  display: none;
}
.checkbox-label {
  padding-top: 20px;
  font-size: 20px;
}
.vt-main-div {
  padding: 50px;
}
