.vtheader-div {
  display: flex;
  width: 100%;
  padding: 20px 50px;
  background: none;
  border: none;
}
.vtheader-btn a {
  color: #33b7ff;
}
.vtheader-btn.for-flex {
  padding: 20px;
  background: none;
  border: none;
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid grey;
}
.vtheader-btn.for-flex:focus {
  background-color: #f9cb4b;
  color: white;
}
.vtheader-btn.for-flex:focus a {
  color: white;
}
